{% load i18n compress diario_entries diario_tagged seo_helper link_list portfolio_extras %}
<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js ie6 oldie" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 7]>          <html class="no-js ie7 oldie" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 8]>          <html class="no-js ie8 oldie" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% seo_helper request.path as meta %}
    <title>{% block site_title_wrap %}{% if meta.title %}{{ meta.title }}{% else %}{% block site_title %}{% endblock %}{% endif %} | {{ SITE_NAME }}{% endblock %}</title>

    <meta name="description"
        content="{% if meta.description %}{{ meta.description }}{% else %}{% block meta_description %}{% endblock %}{% endif %}" />
    <meta name="keywords"
        content="{% if meta.keywords %}{{ meta.keywords }}{% else %}{% block meta_keywords %}{% endblock %}{% endif %}" />
    <meta name="robots"
        content="{% if meta.robot_tags %}{{ meta.robot_tags }}{% else %}{% block meta_robots %}{% endblock %}{% endif %}" />

    <meta name="author" content="Klaus Laube <kplaube [at] gmail [dot] com>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {% block fb_meta %}
        <meta property="fb:admins" content="{% block fb_admins %}{{ FB_ADMIN_ID }}{% endblock %}" />
    {% endblock %}

    <link rel="canonical" href="{{ request.build_absolute_uri }}" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="{{ SITE_NAME }} &raquo; Feed" href="{% url diario_feed %}" />

    <!--[if lt IE 9]> <link href="{{ STATIC_URL }}css/pie.css" rel="stylesheet" type="text/css" /> <![endif]-->

    {% compress css %}
        {% block compressed_styles %}
            <link href="{{ STATIC_URL }}css/prettify.css" rel="stylesheet" />
            <link href="{{ STATIC_URL }}css/layout.css" rel="stylesheet" />
        {% endblock %}
    {% endcompress %}

    {% block head_scripts %}
        <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3.min.js"></script>
    {% endblock %}

    {% block extras %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

<!-- container -->
<div class="container">
    <!-- header -->
    <header id="header" class="sixteen columns">
        <nav id="menu">
            {% include "menu.html" with path=request.path %}
        </nav>

        <hgroup>
            <h1 id="logo">
                <a href="{% url diario-entry-list %}" title="{% trans "Página inicial" %}">Klaus <span>Laube</span></a>
            </h1>
            <h2 class="hide">{% trans "Python, Django, PHP e padrões Web" %}</h2>
        </hgroup>

        {% include "quick_search.html" %}
    </header>
    <!-- end #header -->

    {% block content_wrap %}
    <div id="content" class="two-thirds column {% block content_class %}{% endblock %}" {% block content_extras %}{% endblock %}>
            {% block content %}{% endblock %}
        </div>
    {% endblock %}

    {% block aside_wrap %}
        <!-- aside -->
        <aside id="aside" class="five columns {% block aside_class %}{% endblock %}">
            {% block aside %}

                {% get_link_list "encontre-me-em" as links, category %}
                {% if links %}
                    <section class="module">
                        <h3 class="title">{{ category.title }}</h3>
                        <ul>
                            {% for link in links %}
                                <li>
                                    <a href="{{ link.href }}" title="{{ link.description|safe }}">{{ link.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}

                {% get_link_list "blogroll" as links, category %}
                {% if links %}
                    <section class="module">
                        <h3 class="title">{{ category.title }}</h3>
                        <ul>
                            {% for link in links %}
                                <li>
                                    <a href="{{ link.href }}" title="{{ link.description|safe }}">{{ link.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}

                {% tag_cloud_for_entries as entries_tags with steps=20 min_count=2 distribution=linear %}
                {% if entries_tags %}
                    <section class="module">
                        <h3 class="title">{% trans "Tags" %}</h3>

                        <div class="tagcloud">
                            {% for tag in entries_tags %}
                                <a href="{% url diario-tagged-entry-list tag=tag %}" title="{{ tag }}" class="tag-{{ tag.font_size }}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}

            {% endblock %}
        </aside>
        <!-- end #aside -->
    {% endblock %}
</div>
<!-- end .container -->

<!-- footer -->
<footer id="footer">
    <div class="container">
        <div id="made-with">
            <p>{% blocktrans %}
                Funcionando com
                <a href="http://python.org/" title="Linguagem de programação Python">Python {{ PYTHON_VERSION }}</a> /
                <a href="http://www.djangoproject.com/" title="Framework Web para perfeccionistas com deadlines">Django {{ DJANGO_VERSION }}</a> /
                <a href="https://bitbucket.org/semente/django-diario/src" title="Engine de Blog para Django">django-diario {{ DIARIO_VERSION }}</a> /
                <a href="https://github.com/kplaube/django-simple-contact" title="Aplicação Django para formulário de contato">django-simple-contact {{ SIMPLE_CONTACT_VERSION }}</a> /
                <a href="https://github.com/kplaube/django-simple-links" title="Aplicação de Links para Django">django-simple-links {{ SIMPLE_LINKS_VERSION }}</a>.</p>

                <p>O código deste website é open source, e está disponível no
                <a href="https://bitbucket.org/kplaube/klauslaube.com.br" title="Visite o repositório">Bitbucket</a>.
            {% endblocktrans %}</p>

            <p>{% blocktrans %}Estilos inspirados no <em>prepaid</em>, por
                <a href="http://www.freecsstemplates.org/" title="Free CSS Templates">CSS Templates</a>.
            {% endblocktrans %}</p>
        </div>

        <div id="copyright">{% blocktrans %}
            <p>O conteúdo deste blog está sob a licença
                <a href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR"
                title="Leia mais sobre a licença de uso do conteúdo deste blog">Creative
                Commons Atribuição 3.0</a>.</p>
            <p>Compartilhe, modifique, usufrua. Mas
            mencione o autor.</p>
        {% endblocktrans %}</div>
    </div>
</footer>
<!-- end #footer -->

<!-- scripts -->
<script>
    var dojoConfig = {
        async: true,
        isDebug: {{ DEBUG|yesno:"true,false" }},
        packages: [
            { name: "my", location: "{{ STATIC_URL }}js/my" },
            { name: "prettify", location: "{{ STATIC_URL }}js/libs", main: "prettify" }
        ]
    };
</script>
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/dojo.js"></script>

{% compress js %}
    {% block compressed_scripts %}
    {% endblock %}
{% endcompress %}

{% block scripts %}
<script>
    require(["my/common"], function(common) {
        common.init();
    });
</script>
{% endblock %}

{% block google_analytics_scripts %}
<script>
    var _gaq=[['_setAccount','{{ GOOGLE_ANALYTICS_KEY }}'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
{% endblock %}
<!-- end scripts -->

</body>
</html>
