<header>
    <h2 class="title">
        <a href="{{ entry.get_absolute_url }}" title="{{ entry.title|escape }}" itemprop="name">{{ entry.title }}</a>
    </h2>

    {% if entry.tags %}
        <p class="tags" itemprop="keywords">{{ entry.tags }}</p>
    {% endif %}
</header>
