#comments { margin-top: -10px; }

#respond {
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;

    .title { margin-bottom: 10px; }
}

.comment-title {
    font-size: $default-font-size;
    font-weight: bold;
    margin-bottom: -10px; }

.comment {
    margin-bottom: 30px;

    div {
        background: #f5f5f5;
        padding: 10px 20px; }

    p { margin-bottom: 15px; }

    time {
        font-size: $default-font-size - 2;
        font-style: italic; }
}
