@import "compass/css3/text-shadow";

/*  Elements  */
article {
    margin-bottom: 50px;

    h2 { font-size: $default-h2-font-size - 4; }
    header { margin-bottom: 20px; }
    ul {
        list-style: disc outside;
        padding-left: 20px; }
}

img { border: 6px solid #e1f1f6; }

input[type="url"] { @extend input[type="email"]; }

pre {
    background: #f9f9d4;
    border: 1px solid #999;
    color: black;
    font-family: "Andale Mono", "Lucida Console", monospace;
    margin-bottom: 20px;
    overflow: auto;
    padding: 20px; }

strong { color: $default-font-color; }

textarea { width: 410px; }


/*  Classes  */
.complete { margin-bottom: 30px; }

.float-left {
    float: left;
    margin: 0 20px 10px 0; }

.float-right {
    float: right;
    margin: 0 0 10px 20px; }

.hide { display: none; }

.meta {
    @extend .small;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-right: 0;

    p {
        margin: 0;
        padding: 10px; }
}

.preview {
    @extend .thumbnail;

    margin-top: -10px; }

.small {
    font-size: $default-font-size - 2;
    font-style: italic; }

.social-buttons {
    float: right;
    height: 30px;
    margin: 10px 20px 0 0;

    div {
        @include inline-block;
        width: 120px; }

    .gplus-button { width: 50px; }
}

.summary { margin-bottom: 10px; }

.tags {
    @extend .small;
    color: $default-font-color + 70;
    margin: -15px 0 15px 0; }

.thumbnail {
    @extend .summary;

    margin-bottom: 10px;
    text-align: center; }

.title {
    margin-bottom: 15px;

    &,a { @include text-shadow; }
}


/*  Messages  */
.message {
    display: block;
    padding: 10px;

    a {
        color: inherit;
        text-decoration: underline; }
}

.messages {
    margin-bottom: 10px;

    li { @extend .message; }
}

.error {
    background: #fbe3e4;
    border: 1px solid #fbc2c4;
    color: #8a1f11; }

.errorlist {
    @extend .messages;

    li { @extend .error; }
}

.highlight {
    @extend .message;

    background: #f5f5f5;
    border: 1px solid #e5e5e5; }

.info {
    @extend .message;

    background: #d5edf8;
    border: 1px solid #92cae4;
    color: #205791; }

.success {
    background: #e6efc2;
    border: 1px solid #c6d880;
    color: #264409; }
