<header>
    <h2 class="title">
        <a href="{{ job.get_absolute_url }}" title="{{ job.description|escape }}" itemprop="name">{{ job.description }}</a>
    </h2>

    {% if job.tags %}
        <p class="tags" itemprop="keywords">{{ job.tags }}</p>
    {% endif %}
</header>
