{% for comment in comment_list %}
    <article class="comment" id="c{{ comment.id }}" itemprop="comment" itemscope itemtype="http://schema.org/UserComments">
        <header>
            <h4 class="comment-title" itemprop="creator" itemscope itemtype="http://schema.org/Person">
                {% if comment.user_url %}
                    <a href="{{ comment.user_url }}" rel="nofollow" itemprop="name">{{ comment.user_name }}</a>:
                {% else %}
                    <span itemprop="name">{{ comment.user_name }}</span>:
                {% endif %}
            </h4>

            <time datetime="{{ comment.submit_date|date:"Y-m-d\TH:i:s" }}" itemprop="commentTime">
                {{ comment.submit_date|date:"l, d \d\e F \d\e Y. H:i" }}
            </time>
        </header>

        <div itemprop="commentText">{{ comment.comment|linebreaks }}</div>

    </article>
{% endfor %}
