@import "compass/css3/box-shadow";
@import "skeleton/base";
@import "skeleton/skeleton";


/* #Sass variables
================================================== */
$default-border-radius:     6px;

$default-font-color:        #525252;
$default-font-family:       Arial, Helvetica, sans-serif;
$default-line-height:       26px;

$default-header-color:      #525252;
$default-header-font:       $default-font-family;
$default-h3-font-size:      24px;

$default-link-color:                    #ff2929;
$default-link-hover-color:              $default-link-color;
$default-link-text-decoration:          none;
$default-link-hover-text-decoration:    underline;

$default-text-shadow-color:     #ccc;
$default-text-shadow-h-offset:  -1px;
$default-text-shadow-v-offset:  1px;
$default-text-shadow-blur:      1px;

$default-transition-duration:   .3s;


/* #Skeleton basic styles
================================================== */
@include skeleton-base;


/* #Skeleton grid
================================================== */
@include skeleton;


/* #Site styles
================================================== */
@import "partials/header";
@import "partials/content";
@import "partials/aside";
@import "partials/pagination";
@import "partials/footer";


/* #Page styles
================================================== */
@import "pages/posts";
@import "pages/comments";
@import "pages/portfolio";
@import "pages/search";


/* #Media queries
================================================== */
@media only screen and (max-width: 767px) {
    .module .title, .pagination { text-align: center; }

    /*  Header  */
    #menu {
        margin-bottom: -10px;

        a {
            font-size: $default-font-size - 2;
            padding: 1px 18px;
        }
    }


    /*  Portfolio  */
    .thumbnail img { width: 100%; }
}

@media only screen and (max-width: 480px) {
    /*  Header  */
    #header { height: 180px; }

    #quick-search {
        left: auto;
        position: static;
        top: auto;
    }
    #q_id { width: 230px; }
}

@media only screen and (min-width: 961px) {
    /*  Fixed  */
    .fixed-top {

        padding-top: 180px;

        #header {
            @include box-shadow(0 0 8px #666);
            height: 50px;
            position: fixed;
            left: -10px;
            top: 0;
            width: 100%; }

        #menu {
            margin: 0;
            left: 210px;
            position: absolute;
            top: 11px; }

        #logo {
            font-size: 32px;
            margin-top: 7px; }

        #quick-search {
            right: 20px;
            top: 10px;

            .button { display: none; }
        }

    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /*  Header  */
    #header { height: 140px; }
    #logo {
        font-size: 28px;
        margin-left: 0; }


    #quick-search {
        right: 0;
        top: 66px;
    }
    #q_id { width: 187px; }

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    aside { padding-left: 0; }
}
