{% extends "admin/base_site.html" %}
{% load adminmedia i18n %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/media_list.css" />
{% endblock %}

{% block title %}Media Manager{{ block.super }}{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
    <a href="../">{% trans "Home" %}</a> &rsaquo;
    Media Manager
</div>
{% endif %}{% endblock %}

{% block content_title %}<h1>Media Manager</h1>{% endblock %}

{% block content %}
<div id="content-main">
    {% block object-tools %}
        <ul class="object-tools">
            {% block object-tools-items %}
                <li>
                    <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                        {% trans "Add image" %}
                    </a>
                </li>
            {% endblock %}
        </ul>
    {% endblock %}
    <div class="module" id="changelist">
        <form id="changelist-form" action="" method="post">
            {% csrf_token %}

            <table id="result_list">
                <thead>
                    <!--<th class="checkbox-col">#</th>-->
                    <th>{% trans "Preview" %}</th>
                    <th>{% trans "Folder" %}</th>
                    <th>{% trans "File" %}</th>
                    <th>{% trans "Size" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th class="delete-col">{% trans "Delete" %}</th>
                </thead>

                <tbody>
                    {% for file in media_list %}
                        <tr>
                            <!--<td class="checkbox-col"><input type="checkbox" /></td>-->
                            <td class="folder-col">
                                <a href="{{ file.url }}" title="{% trans "Click to view" %}">
                                    <img src="{{ file.url }}" />
                                </a>
                            </td>
                            <td>{{ file.folder }}</td>
                            <td>{{ file.file }}</td>
                            <td>{{ file.size }}</td>
                            <td>{{ file.date }}</td>
                            <td class="delete-col">
                                <a href="{% url media_manager:media_delete code=file.code %}" title="{% trans "Delete image" %}">{% trans "Delete" %}</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">{% trans "No media files found" %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>
{% endblock %}
